body {
    background-color: #6B705C;
    font-family: Arial, sans-serif;
    list-style-position: inside;  
    vertical-align: center;
    margin: 0;
} 

#menu {
    position: fixed;
    background-color: blanchedalmond;
    text-align: center;
    height: 20px;
    width: 100%;
    padding: 20px;
    margin-bottom: 0px;
}

.menu-itens a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration-line: none;
    margin-right: 100px;       
}

.menu-itens a:hover {
    color: green;
}

#nome {
    font-family:'Comfortaa', cursive;
    font-size: 50px;
    font-weight: 50;
    text-align: center;
    background-color:rebeccapurple;
    height: 500px;    
}

h1 {
    margin: 0px;
    padding-top: 180px;
}

.foto {
  display: block;
  height: 350px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  border-radius: 100%;
}

#info {
    height: 400px;
    background-color: saddlebrown;
    margin-top: -183px;
    text-align: center;
}

#info-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding-top: 200px;
}

#linktrybe {
    color: #165f16;
    font-weight: 800;
}

h2 {
    font-size: 40px;
    text-align: center;
}

#habilidades {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 20px;
    margin-top: -24px;
    color: aliceblue;
    text-align: center;    
}

#contato {
    background-color: ivory;
    height: 60px;
}


